<div class="container detail">
    <app-back-btn [text]="'Back'" (click)="goBack()"></app-back-btn>
    <!-- <p>{{ country | json }}</p> -->
    <div class="grid grid--2 wrap">
        <div class="detail__flag">
            <img [src]="country?.flags?.svg" [alt]="country?.name?.common">
        </div>
        <div class="detail__info">
            <h1>{{country?.name?.common}}</h1>

            <div class="grid grid--2 inner-grid">
                <div class="left">
                    <p>Native Name: <span>{{country?.name?.nativeName | nativeName }}</span></p>
                    <p>population: <span>{{country?.population! | formatNumber}}</span></p>
                    <p>Region: <span>{{country?.region}}</span></p>
                    <p>Sub Region: <span>{{country?.subregion}}</span></p>
                    <p>Capital: <span>{{country?.capital}}</span></p>
                </div>
                <div class="right">
                    <p>Top Level Domain: <span>{{country?.tld}}</span></p>
                    <p>Currencies: <span>{{ country?.currencies | detail }}</span></p>
                    <p>Languages: <span>{{country?.languages | lang}}</span></p>
                </div>
            </div>

            <div *ngIf="country?.borders" class="bc">
                <span>Border Countries </span>
                <ul  class="flex">
                    <li *ngFor="let i of country?.borders">
                        <a class="btn" href="#">{{i}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>