.detail{
    margin-top: 1.5em;
    width: 100%;

    .wrap{
        margin-top: 2.5em;
        gap: 4em;
    }

    h1{
        margin-bottom: 1.5em;
        font-size: 1.8rem;
    }

    .inner-grid{
        align-items: start;
      
        p{
            margin-top: .5em;
            font-weight: var(--semi-bold-weight);

            &> span{
                font-weight: var(--light-weight);
            }
        }
         
    }

    .bc{
        margin-top: 3em;
        ul{
            display: inline-flex;
            flex-direction: row;
        }
        li{
            margin-left: 1em;
        }
        span{
            font-weight: var(--semi-bold-weight);
        }
    }


}